:root {
  --font-color: #292E1E;
  --highlight: #BB4430;
  --primary-color: #006B32;
  --bg-color: #F6BE9A;
  --secondary-color: #56E39F;
  --home-round-borders: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-size: 1rem;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer,
nav {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

nav {
  gap: 12px;
  padding: 5px;
}

nav button {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  padding: 10px 30px;
  background-color: var(--highlight);
  border: none;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

footer {
  color: #fff;
  padding: 3px 0;
}

a {
  color: inherit;
  padding: 0 5px;
}

footer a:nth-child(2) {
  padding-right: 0;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3vh 9vw;
}

.home {
  flex: 1;
  display: grid;
  grid-template: auto auto 1fr / auto 1fr;
  height: 100%;
}

.photo {
  grid-area: 1 / 1 / 4 / 2;
  background-image: url("./pexels-valeriya-64540.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  align-content: end;
  border-radius: var(--home-round-borders) 0 var(--home-round-borders) var(--home-round-borders);
}

.photo p {
  color: #fff;
  background-color: rgb(0 0 0 / .6);
  padding: 0 3vw;
  margin-bottom: 20px;
}

.banner {
  background-color: var(--secondary-color);
  padding: 5vh 3vw 5vh 3vw;
  border-radius: 0 var(--home-round-borders) var(--home-round-borders) 0;
}

.banner h1 {
  font-size: 3rem;
}

.banner p {
  font-size: 1.5rem;
}

.curiosity {
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.3rem;
}

.curiosity>div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info {
  padding: 9vh 3vw;
  font-size: 1.3rem;
}

.menu-main {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(450px, 1fr));
  gap: 75px;
}

.menu-main h2,
.contact-main h2 {
  background-color: var(--secondary-color);
  padding: 0 40px;
  border-radius: 20px 20px 0 0;
}

.category {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(230px, 1fr));
  align-content: start;
  height: fit-content;
  gap: 20px;
  background-color: rgb(50 50 50 / .1);
  border-radius: 20px 20px 15px 15px;
}

.category h2 {
  grid-area: 1 / 1 / 1 / -1;
  height: fit-content;
}

.menu-item {
  display: grid;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  border-left: 5px solid var(--highlight);
  box-shadow: 2px 2px 2px rgb(0 0 0 / .2);
}

.menu-item h3 {
  display: flex;
  justify-content: space-between;
}

.active {
  border: 2px solid #fff;
}

.contact-main {
  font-size: 1.3rem;
}

.contact-main h2 {
  text-align: center;
}

.contact-main ul {
  list-style-type: none;
  display: flex;
  padding: 15px;
}

.socials {
  justify-content: space-evenly;
}

form {
  width: 100%;
  display: grid;
  place-content: center;
  padding: 40px;
  border: 2px solid var(--font-color);
  border-radius: 0 0 20px 20px;
}

form p {
  display: grid;
}

input {
  width: 350px;
  padding: 8px 16px;
  font-size: 1.1rem;
}

textarea {
  width: 500px;
  height: 200px;
  font-size: 1.1rem;
  padding: 8px 16px;
  font-family: inherit;
}
